@media screen {
    canvas {
        padding-left: 0;
        padding-right: 0;
        border-top: 3px solid var(--dark_blue_primary);
        border-right: 3px solid var(--dark_blue_primary);
        margin-left: 10rem;
        display: block;
        transform: scale(1, -1);
    }
}
