@media screen {
    .side-nav {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 10rem;
        background-color: var(--dark_blue_primary);
        z-index: 1; /* Stay on top */
    }
    .side-nav-entry {
        margin-top: 0.5rem;
    }
    .side-nav-grid-block {
        padding-top: 1rem;
        display: grid;
        grid-gap: 5px;
        justify-content: center;
        align-items: center;
        width: 10rem;
    }
    main {
        display: flex;
        /* flex-direction: column; */
    }
    body button {
        display: flex;
        color: white;
        box-shadow: 0 0 3px var(--dark_blue_secondary); 
        border: 1px solid var(--dark_blue_secondary) ;
        border-radius: 0.35rem;
        background-color: var(--light_blue_secondary);
        transition: all 50ms;
    }
    body button:hover {
        border: 1px solid var(--dark_blue_primary) ;
        background-color: var(--light_blue_primary);
        transform: scale(1.1);
        box-shadow: 0 0 5px var(--dark_blue_secondary); 
    }
    body button:active {
        background-color: var(--light_blue_primary);
        transform: scale(0.95);
        box-shadow: 0 0 1px var(--dark_blue_secondary); 
    }
    .start_pause {
        grid-column: col 1 / span 2;
        grid-row: row 0;
    }

    .ffb {
        grid-column: col 0;
        grid-row: row 1;
    }

    .ofb {
        grid-column: col 1;
        grid-row: row 1;
    }

    .off {
        grid-column: col 2;
        grid-row: row 1;
    }

    .fff {
        grid-column: col 3;
        grid-row: row 1;
    }
    .side_nav_input {
        width: 80%;
    }
}
