@media screen {
    .side-nav {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 10rem;
        position: fixed;
        background-color: var(--dark_blue_primary);
        z-index: 1; /* Stay on top */
        /* left: 0; */
        text-align: center;
    }
    .side-nav-entry {
        margin-top: 0.5rem;
    }
    .side-nav-grid-block {
        padding-top: 1rem;
        display: grid;
        grid-gap: 5px;
        justify-content: center;
        align-items: center;
        width: 10rem;
    }
    body button {
        color: white;
        box-shadow: 0 0 3px var(--dark_blue_secondary); 
        border: 1px solid var(--dark_blue_secondary) ;
        border-radius: 0.35rem;
        background-color: var(--light_blue_secondary);
    }
    body button:hover {
        border: 1px solid var(--dark_blue_primary) ;
        background-color: var(--light_blue_primary);
    }
    body button:active {
        background-color: var(--light_blue_primary);
        transform: translateY(1px);
        box-shadow: 0 0 px 0 var(--dark_blue_secondary); 
    }
    .start_pause {
        grid-column: col 1 / span 2;
        grid-row: row 0;
    }

    .ffb {
        grid-column: col 0;
        grid-row: row 1;
    }

    .ofb {
        grid-column: col 1;
        grid-row: row 1;
    }

    .off {
        grid-column: col 2;
        grid-row: row 1;
    }

    .fff {
        grid-column: col 3;
        grid-row: row 1;
    }
    .side_nav_input {
        width: 5rem;
    }
}
