@media screen {
    * {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1rem;
    }

    :root {
        font-size: 16;
        /* Blues */
        --light_blue_primary: #516082;
        --light_blue_secondary: #333d52;
        --dark_blue_primary: #212836;
        --dark_blue_secondary: #12161f;

        /* Browns */
        --brown_primary: #524833;

        /* Reds */
        --red_primary: #523833;

    }
     
    html {
        color: white;
        background-color: var(--dark_blue_secondary);
    }

    body {
        margin: 0;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    /* Avoid collapsing margins in these elements */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    blockquote {
        margin-top: 0;
        margin-bottom: 1em;
    }

    .screenreader {
        position: absolute;

        width: 1px;
        height: 1px;
        padding: 0;
        border: 0;
        margin: -1px;

        clip: rect(0 0 0 0);
        overflow: hidden;
        white-space: nowrap;
    }

    /* body { */
    /*   min-width: 320px; */
    /*   max-width: 960px; */
    /*   margin: 0px auto; */
    /*   background-color: white; */
    /* } */
    h1 {
        font-size: 2.5rem;
        font-variant: small-caps;
    }
    h2 {
        font-size: 2rem;
        font-variant: small-caps;
    }
    h3 {
        font-size: 1.75rem;
        font-variant: small-caps;
    }
    h4 {
        font-size: 1.5rem;
        font-variant: small-caps;
    }

    a:link {
        color: #0b74b8;
    }
    a:visited {
        color: #36aade;
    }
    a:hover,
    a:focus {
        color: #f5662e;
    }
    a:actice {
        color: #d90000;
    }

    address {
        font-style: normal;
    }
    label {
        display: block;
    }
    form div {
        margin-bottom: 1em;
    }
} /* end @media */
